#CardContainer {
	margin-bottom: 100px;
}

a {
	text-decoration: none;
}

.ShowCard {
	background: #5b2022;
	box-shadow: 0 0 10px 3px #481a1b;
	margin-bottom: 50px;
}



.ShowCard img {
	padding: 5px;
	max-height: 300px;
	max-width: 212px;
	clear: both;
	margin: auto;
}

.ShowCard h2 {
	font-size: 20px;
	font-family: Verdana;
	color: #fff;
	text-align: center;
	margin: auto;
	padding: 5px;
	clear: both;
}

.ShowCard h3 {
	font-size: 15px;
	font-family: Arial;
	color: #ccc;
	text-align: center;
	margin: auto;
	padding: 10px;
	clear: both;
}

.ShowCard p {
	font-size: 14px;
	font-family: Verdana;
	color: #e5e5e5;
	text-align: center;
	margin: auto;
	padding: 5px;
	clear: both;
}