.footer {
	position: absolute;
    bottom: 0;
    left: 0;
	background-color: #65b1f7;
	right: 0;
}

.footer .footer-block {
    margin: auto;
    text-align: center;
}

.footer .footer-block p {
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.footer .footer-block p i {
    padding: 0 50px;
    font-size: 50px;
}

.footer .sponsors ul {
	display: flex;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-150%);
}

.footer .sponsors ul li {
	list-style: none;
}

.footer .sponsors ul li a img {
	width: 80px;
	height: 40px;
	line-height: 40px;
}


/* Styling for mobile */

@media only screen and (max-device-width: 600px){
    
    
    .footer .footer-block p {
        font-size: 10px;
        padding: 10px 0;
    }
    
    .footer .footer-block p i {
        font-size: 40px;   
    }

    .footer .sponsors {
    	display: none;
    }
}

/* Styling for tablets and mobiles */

@media screen and (max-device-width: 1200px) and (min-device-width: 601px) { 

    .footer .footer-block p i {display: none;}
    
}

/* Styling for everything with a bigger screen than a mobile */

@media only screen and (min-device-width: 780px){

    .footer .footer-block p i {display: none;}

}
