* {
	margin: 0;
	padding: 0;
	text-decoration: none;
    /*border: 1px solid red;*/
}
.List_items{
	list-style-type: none; 
	display: inline-block;
	white-space: pre-line;
	padding: 25px;
	font-size: 30px;
}



.Item_Desc{
	
	color:#d4d4d4;
	font-style: italic;
	font-size:20px;
	float:left;
	white-space: pre-line;

}

@media only screen and (max-device-width: 600px){

	
	.List_items
	{
	 white-space: normal;
	display: inline-block;
}
	.Item_Desc{
		 white-space: normal;
		color:#d4d4d4;
		font-style: italic;
		font-size:10px;
	

}
	


}